*.tar.gz
*~
*.patch
.DS_Store
COPYING
.*.swp
*.orig
*.rej

# Build procress
*.o
*.a
*.lo
*.la
.libs
.deps

# Python stuff
*.pyc

# i18n generated stuff
*.gmo
po/eina.pot

# GSettings stuff
data/gschemas.compiled
*.gschema.valid
*.gschema.xml
*.gschema.xml.in

# gobject-introspection
*.gir
*.typelib

# Autotools stuff
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-*.in
libtool
ltmain.sh
missing
aclocal.m4
autom4te.cache/
po/Makefile.in.in
po/POTFILES
po/stamp-it
stamp-h1
.dirstamp
compile
mkinstalldirs
stamp-marshal
stamp-ui2h

# Eina bundle for OSX
bundle/build
bundle/Info.plist
bundle/Eina-*

# Binaries
eina/eina
eina/vogon
eina/vogon-app
m4/

# Generated marshallers
*-marshallers.c
*-marshallers.h

# Generated header files
*-ui.h
eina/ext/eina-cover-image-mask.h

# Output data
eina/lomo-player-dbus-glue.h
data/eina-0.9.pc
data/eina.desktop

tools/plugins/
tools/schemas/

# Doc files
docs/gtk-doc.make
docs/lomo-decl-list.txt
docs/lomo-decl.txt
docs/lomo-sections.txt
docs/lomo-undeclared.txt
docs/lomo-undocumented.txt
docs/*.stamp
docs/*.sgml
docs/html/
docs/xml
docs/lomo.*

# Debian files
debian/tmp
debian/files
debian/eina-player.substvars
debian/eina-player-dev.substvars
debian/eina-player-doc.substvars
debian/*.log
debian/*.debhelper
debian/eina-player/
debian/eina-player-dev/
debian/eina-player-doc/
.pc/
