Source: eina-player
Section: sound
Priority: extra
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Luis Lopez <luis@cuarentaydos.com>
Build-Depends: debhelper (>= 7.0.50~), quilt, autotools-dev, intltool, libtool, pkg-config, python2.7, valac, libgstreamer0.10-dev, libgtk-3-dev, libcurl4-gnutls-dev, gtk-doc-tools, libsqlite3-dev, libclutter-gtk-1.0-dev, libnotify4-dev, libindicate-dev
Standards-Version: 3.8.3

Package: eina-player
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, libgstreamer0.10-0, libgstreamer-plugins-base0.10-0, gstreamer0.10-plugins-good, libgtk-3-0, libcurl3-gnutls, libsqlite3-0, libclutter-gtk-1.0-0, libnotify4, libindicate5
Recommends: gstreamer0.10-ffmpeg, gstreamer0.10-plugins-bad, gstreamer0.10-plugins-ugly
Description: Music player based on gtk+-3.0 and gstreamer
 Eina is a classic player for the modern era. It features a small screen
 footprint, network capabilites and extensible functionality through plugins.

Package: eina-player-dev
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, eina (= ${source:Version}), libgtk-3-dev, libgstreamer0.10-dev (>= 0.10.0), libsqlite3-dev
Suggests: eina-player-doc
Description: Music player based on gtk+-3.0 and gstreamer - Development files
 This package contains the headers and other development files not included in
 the main eina package. Install this if you wish to compile your own plugins.

Package: eina-player-doc
Section: doc
Architecture: all
Depends: lynx | www-browser
Description: Music player based on gtk+-3.0 and gstreamer - Documentation
 Eina is a classic player for the modern era. It features a small screen
 footprint, network capabilites and extensible functionality through plugins.

Package: eina
Section: sound
Architecture: any
Depends: eina-player
Description: Dummy package for eina -> eina-player
 Dummy package for eina -> eina-player

Package: eina-dev
Section: devel
Architecture: any
Depends: eina-player-dev
Description: Dummy package for eina-dev -> eina-player-dev
 Dummy package for eina-dev -> eina-player-dev

Package: eina-doc
Section: doc
Architecture: any
Depends: eina-player-doc
Description: Dummy package for eina -> eina-player-doc
 Dummy package for eina-doc -> eina-player-doc

