Source: eina
Section: sound
Priority: extra
Maintainer: Luis Lopez <xuzo@cuarentaydos.com>
Build-Depends: debhelper (>= 5), autotools-dev, intltool, pkg-config, libgtk2.0-dev, libgstreamer0.10-dev, libunique-dev, python2.5, libsqlite3-dev
Standards-Version: 3.7.3

Package: eina
Architecture: any
Depends: libc6, libgtk2.0-0 (>= 2.12.0), gstreamer0.10-plugins-good, libgstreamer-plugins-base0.10-0, libgstreamer0.10-0, libsqlite3-0, libunique-1.0-0
Recommends: gstreamer0.10-ffmpeg, gstreamer0.10-plugins-bad, gstreamer0.10-plugins-ugly
Replaces: liblomo1
Conflicts: liblomo1
Provides: liblomo1
Description: Music player based on gtk+-2.0 and gstreamer
 Eina is a classic player for the modern era. It features a small screen
 footprint, network capabilites and extensible functionality through plugins.

Package: eina-dev
Section: devel
Architecture: any
Depends: libc6-dev, eina (= ${Source-Version}), libgtk2.0-dev (>= 2.12.0), libgstreamer0.10-0 (>= 0.10.0), libsqlite3-dev
Replaces: liblomo-dev
Conflicts: liblomo-dev
Provides: liblomo-dev
Description: Music player based on liblomo and gtk+-2.0 - development files
 This package contains the headers and other development files not included in
 the main eina package. Install this if you wish to compile your own plugins.
